<% include ./partials/header.ejs %>
   <link rel="stylesheet" href="../index.css">
   

    <marquee behaviour="alternate" scrollamount="15" direction="right">
   <div class="card mb-3" style="max-width: 640px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDQbHtigDz8RYkettZJe2606dxrKrlsaHBv4V_p2m2I0jwk6Od" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" style="background: #232323; color: green; height:100%;"> 
              <h5 class="card-title"><b>Vision</b></h5>
              <p class="card-text">
                  <ul>
                      <li class="card-text">To provide a vibrant learning environment in <br>computer science and engineering with focus <br>on industry needs and research, for the<br> students to be successful global professionals<br> contributing to the society.</li>
                  </ul>
              </p>
              
            </div>
          </div>
        </div>
      </div>
      </marquee>
      <marquee behaviour="alternate" direction="left" scrollamount="16">
      <div class="card mb-3" style="max-width: 640px; max-height: 350px;">
        
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://schoolbook.getmyuni.com/assets/images/rev_img/14565__3666/1458163220IMG_0922.JPG" class="card-img card-img-left" alt="..." style="height: 100%">
              </div>
              <div class="col-md-8">
                <div class="card-body" style="background: #232323; color: green; height:100%;">
                  <h5 class="card-title"><b>Mission</b></h5>
                  <div>
                  <p class="card-text">
                      <ul>
                          <li>To adopt a contemporary teaching learning<br> process with emphasis on hands on<br> and collaborative learning.</li>
                          <li>To facilitate skill development through <br>additional training and encourage student<br> forums for enhanced learning.</li>
                          <li>To collaborate with industry partners<br> and professional societies and make <br>the students industry ready.</li>  
                          <li>To encourage innovation through multidisciplinary<br> research and development activities .</li>
                          
                      </ul>
                  </p>
                 </div>
                </div>
              </div>
            </div>
          </div>
	</marquee>
<script type="text/javascript" src="../index.js"></script>
<% include ./partials/footer.ejs %>